@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="SlotGame" asp-controller="Home" asp-route-N="4" asp-route-M="3">4x3</a>
<a asp-action="SlotGame" asp-controller="Home" asp-route-N="5" asp-route-M="5">5x5</a>
<a asp-action="SlotGame" asp-controller="Home" asp-route-N="5" asp-route-M="5">8x5</a>