@model IndexViewModel
@{
	ViewData["Title"] = "Index";
}
@using BedeSlots.Areas.Admin.Controllers
<partial name="_StatusMessage" model="Model.StatusMessage" />
<br />
<div>
	<div id="username-input" class="col-md-4">
		<input for="Username" class="form-control" placeholder="UserName"/>
	</div>
	<button id="username-filter" class="btn btn-success">Filter</button>
</div>
<div id="table-content">
	<partial name="_UserGrid" model="Model.Users" />
</div>

<div class="modal" id="user-modal">
	<div class="modal-dialog">
		<partial name="_UserModal" model="null" />
	</div>
</div>

@section Scripts {
	<script>
		$('#table-content').on('click', "#tr-user-id", function () {
			$("#user-modal").find('input[name="ID"]').val($(this).data("user-id"));
			$('#user-modal').modal('show');
		});

		$(document).on("click", "#content-pager a", function () {
			const userName = $("#username-input input").val();
			const modUrl = $(this).attr("href") + '&username=' + userName;
			$.ajax({
				url: modUrl,
				type: 'GET',
				cache: false,
				success: function (result) {
					$('#table-content').html(result);
				}
			});

			history.pushState("", "", `?page=${$(this).text()}&username=${userName}`);
			return false;
		});

		$("body").on("click", "button#username-filter", function () {
			const userName = $("#username-input input").val();
			const pathname = window.location.pathname.toLowerCase().replace(`@nameof(UsersController.Index).ToLower()`, `@nameof(UsersController.UserGrid).ToLower()`);
			const modUrl = pathname + '?username=' + userName;
			debugger;
			$.ajax({
				url: modUrl,
				type: 'GET',
				cache: false,
				success: function (result) {
					$('#table-content').html(result);
				}
			});

			history.pushState("", "", `?username=${userName}`);
			return false;
		});
	</script>
	<partial name="_ValidationScriptsPartial" />
}